@charset "utf-8";
@import url(reset.css);
@import url(fonts.css);
@import url(plugins.css);
.mar13 {
  margin: 0 -13px;
}
.mar13 > div {
  padding: 0 13px;
}
body {
  font-family: 'irsans';
  background-color: #f2f2f2;
}
.icon-sharp {
  color: #fff;
  border-radius: 7px;
  padding: 1.5px;
  font-size: 12px;
  background-color: #ff4342;
}
.uiTag {
  display: inline-block;
}
.uiTag span {
  font-size: 13px;
}
.siteHeader__top {
  padding: 30px 0;
  background-color: #ffffff;
}
.siteHeader__topMenu {
  float: right;
  padding: 10px;
}
.siteHeader__topMenu li {
  display: inline;
  padding: 0 10px;
  color: #494949;
  font-size: 14px;
  font-weight: 400;
}
.siteHeader__topMenu li:hover {
  color: #000;
}
.siteHeader__logo {
  float: left;
}
.siteHeader__middle {
  background-color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
}
.siteHeader__middleMenu li {
  background-color: #fff;
  font-size: 13px;
  display: inline-block;
  padding: 4.5px 8px;
  border-radius: 5px;
  margin: 3px;
}
.siteHeader__button {
  background-color: #ececec;
  text-align: center;
  height: 50px;
}
.siteHeader__button :focus-within {
  background-color: #e0dede;
}
.siteHeader__button:hover {
  background-color: #e0dede;
  transition: all 0.3s ease-in-out;
}
.siteHeader__button input {
  background-color: transparent;
  text-align: center;
  line-height: 50px;
  width: 100%;
}
.siteBranding {
  background-color: #fff;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.11);
  border-radius: 20px;
  margin-top: 20px;
}
.siteBranding:after {
  content: "";
  clear: both;
  display: table;
}
.siteBranding__cover {
  float: right;
  margin-left: 20px;
}
.siteBranding__cover img {
  border-radius: 0 20px 20px 0;
}
.siteBranding__header {
  padding: 35px 10px 15px;
}
.siteBranding__headerTitle {
  display: block;
  font-size: 19px;
  font-weight: 500;
  padding: 20px 0;
  line-height: 37.32px;
}
.siteBranding__content {
  font-size: 16px;
  line-height: 30.51px;
  font-weight: 400;
  padding-left: 30px;
  text-align: justify;
}
.sitePosts {
  margin: 20px 0;
  padding: 10px;
}
.sitePosts__item {
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 19px 0 -13px rgba(0, 0, 0, 0.11);
  overflow: hidden;
  height: 371px;
  position: relative;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}
.sitePosts__item:before {
  content: '';
  width: 100%;
  height: 30px;
  background: linear-gradient(transparent, #fff);
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.sitePosts__item:hover {
  background-color: #fff;
}
.sitePosts__item:hover .sitePosts__itemContent {
  margin: -180px 0;
}
.sitePosts__item:hover .sitePosts__itemContent .sitePosts__itemContent__description {
  color: #000;
}
.sitePosts__item:hover .sitePosts__itemCover {
  background-color: #fff;
  opacity: 0.1;
}
.sitePosts__advertise {
  border-radius: 24px;
  box-shadow: 0 19px 0 -13px rgba(0, 0, 0, 0.11);
  overflow: hidden;
  height: 371px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(31deg, #00a8ff 0%, #1cd2bf 100%);
  text-align: center;
}
.sitePosts__advertise img {
  width: 144px;
  height: 146px;
  display: block;
  margin: 67px auto 60px;
}
.sitePosts__advertise a {
  color: #fff;
}
.sitePosts__advertiseChannel {
  width: 42px;
  height: 41px;
  border: 1px solid rgba(255, 255, 255, 0.64);
  display: block;
  padding: 12px;
  margin: 15px auto 0;
  border-radius: 50px;
}
.sitePosts__advertiseChannel i {
  color: #fff;
  font-size: 9px;
}
.sitePosts__paragraph {
  background-color: #bf9925;
  box-shadow: 0 19px 0 -13px rgba(175, 137, 20, 0.7);
  border-radius: 24px;
  height: 371px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  text-align: justify;
  color: #fefefe;
  padding: 25px;
  line-height: 31.51px;
  overflow: hidden;
  position: relative;
}
.sitePosts__paragraph:before {
  font-family: 'icomoon';
  content: "\e908";
  transform: rotate(180deg);
  display: inline-block;
  font-size: 100px;
  color: #c69f28;
  position: absolute;
  bottom: 0;
  left: 0;
}
.sitePosts__paragraph a {
  font-size: 15px;
  font-weight: 700;
}
.sitePosts__paragraph p {
  font-size: 13px;
  font-weight: 500;
  margin-top: 10px;
}
.sitePosts__itemCover {
  width: 100%;
  border-radius: 23px 23px 0 0;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  max-height: 200px;
}
.sitePosts__itemContent {
  padding: 0 22px 36px 22px;
  transition: all 0.3s ease-in-out;
}
.sitePosts__itemContent .uiTag {
  margin: 22px 0;
}
.sitePosts__itemContent .uiTag span {
  font-weight: 400;
}
.sitePosts__itemContent__title {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.sitePosts__itemContent__description {
  color: #d6d4d4;
  transition: all 0.3s ease-in-out;
  position: absolute;
  line-height: 30px;
  width: 100%;
  padding: 5px 22px;
  right: 0;
}
.sitePosts__itemContent__descriptionMore {
  color: #fefefe;
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.11);
  background-color: #2ec5c0;
  display: block;
  margin: 10px auto 0;
  text-align: center;
  width: 112px;
  border-radius: 20px;
  position: relative;
  z-index: 3;
}
.sitePagination {
  margin: 50px;
  text-align: center;
}
.sitePagination li {
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
  margin: 7px;
  width: 46px;
  height: 46px;
  font-size: 14px;
  font-weight: 300;
  padding: 16px 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sitePagination li:hover {
  background-color: #ff4342;
  color: #fff;
}
.sitePagination__select {
  background-color: #e6e6e6 !important;
  color: #ff4342;
}
.siteFooter {
  padding: 52px 0;
  background-color: #ffffff;
}
.siteFooter__copy {
  float: right;
  font-size: 30px;
  color: #ababab;
}
.siteFooter__copyContent {
  padding-right: 20px;
  color: #999999;
  display: inline-block;
  margin: 7px 0;
}
.siteFooter__social {
  float: left;
  padding-top: 7px;
}
.siteFooter__social i {
  color: #bebebe;
  cursor: pointer;
  font-size: 20px;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
}
.siteFooter__social i:hover {
  color: #ff4342;
}
/*    single page     */
.sitePost {
  padding: 50px 0;
  clear: both;
}
.sitePost__cover {
  padding: 40px 0;
}
.sitePost__cover .rowFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sitePost__cover .rowFlex > div {
  float: none;
}
.sitePost__cover .sitePost__coverDetails ul {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 41.51px;
  margin-top: 15px;
}
.sitePost__coverBox {
  position: relative;
}
.sitePost__coverImg {
  border-radius: 20px;
  width: 100%;
  height: auto;
  padding-left: 20px;
}
.sitePost__coverImg img {
  border-radius: 22px;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
}
.sitePost__coverAthor {
  background-color: #fff;
  border-radius: 50px 50px 25px 50px;
  padding: 5px;
  position: absolute;
  bottom: 14px;
  right: 14px;
}
.sitePost__coverSocial {
  text-align: center;
}
.sitePost__coverSharing__icon {
  color: #58595b;
  font-size: 18px;
  display: inline-block;
  padding: 10.3px 25px;
  border-radius: 40px;
  width: 120px;
  margin: 18px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.sitePost__coverSharing__icon:hover {
  text-align: right;
  color: #ff4341;
  background-color: #fff;
  padding: 10.3px 25px;
}
.sitePost__coverSharing__icon:hover .sitePost__coverSharing__text {
  opacity: 1;
}
.sitePost__coverSharing__icon .sitePost__coverSharing__text {
  display: inline-block;
  font-family: 'irsans';
  font-size: 12px;
  opacity: 0;
  position: absolute;
  color: #868686;
  margin: 5px 16px;
}
.sitePost__header .uiTag {
  margin: 20px 0 40px 0;
}
.sitePost__header .uiTag span {
  font-size: 16px;
  font-weight: 400;
}
.sitePost__content h2 {
  color: #404040;
  font-size: 25px;
  font-weight: 500;
  line-height: 37px;
  margin: 70px 0 20px 0;
  display: block;
}
.sitePost__content p {
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  text-align: justify;
  color: #2a2a2a;
}
.sitePost__content ol {
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  list-style: none;
  padding: 0;
}
.sitePost__content ol li {
  color: #2a2a2a;
  counter-increment: my-awesome-counter;
}
.sitePost__content ol li:before {
  content: counter(my-awesome-counter);
  color: #ff4342;
  font-size: 16px;
  font-weight: 500;
  line-height: 41.51px;
  padding: 20px;
}
.sitePost__content ul {
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
}
.sitePost__content ul li {
  color: #2a2a2a;
}
.sitePost__content ul li:before {
  font-family: 'icomoon';
  content: "\e90b";
  color: #1dbcb7;
  font-size: 12px;
  padding: 20px;
}
.sitePost__content blockquote {
  margin: 40px 25px;
}
.sitePost__content blockquote p {
  padding-right: 80px;
}
.sitePost__content blockquote:before {
  font-family: 'icomoon';
  content: "\e908";
  color: #c3c3c3;
  font-size: 37px;
  margin-top: 20px;
  float: right;
}
.sitePost__footerDownload {
  background-color: #fff;
  border-radius: 50px;
  padding: 38px 50px;
  margin-top: 72px;
}
.sitePost__footerDownload i {
  font-size: 20px;
  float: right;
}
.sitePost__footerDownload span {
  padding: 10px;
  color: #868686;
}
.sitePost__footerDownload > div {
  display: inline-block;
  margin: 0 30px;
}
.sitePost__footerAuthor {
  margin: 60px 20px;
}
.sitePost__footerAuthor .uiTag {
  float: left;
  margin: 10px 0 0 90px;
}
.sitePost__footerAuthor .uiTag span {
  color: #bbb;
  font-weight: 500;
}
.sitePost__footerAuthor .uiTag a {
  color: #9e9d9d;
}
.sitePost__footerAuthor__details {
  background-color: #fff;
  border-radius: 50px 70px 50px 50px;
  padding: 9px 14px 11px 30px;
  margin: 20px 20px 20px 30px;
  max-width: 380px;
}
.sitePost__footerAuthor__details:after {
  content: "";
  display: table;
  clear: both;
}
.sitePost__footerAuthor__details img {
  float: right;
}
.sitePost__footerAuthor__details b {
  font-size: 16px;
  margin: 25px 25px 0 0;
  display: inline-block;
  font-weight: 700;
}
.sitePost__footerAuthor__detailsCounter {
  text-align: left;
}
.sitePost__footerAuthor__detailsCounter a {
  font-size: 14px;
  font-weight: 300;
}
.sitePost__footerAuthor__detailsCounter span {
  color: #ff4342;
  font-size: 30px;
  display: inline-block;
  height: 0px;
  font-weight: 300;
}
.sitePost__footerAuthor__logo {
  margin-left: 82px;
  float: left;
}
.sitePost__footerAuthor__logo img {
  width: 68px;
}
.sitePost__footerAuthor__logo a {
  color: #9e9d9d;
  font-size: 14px;
  font-weight: 300;
  margin: 3px 0 0 10px;
}
.sitePost__footerDescription {
  text-align: justify;
  font-size: 13px;
  line-height: 40px;
  font-weight: 400;
  display: inline-block;
}
.sitePost__footerSocial {
  padding: 10px 0;
}
.sitePost__footerSocial i {
  color: #58595b;
  cursor: pointer;
  font-size: 20px;
  padding-left: 42px;
  transition: all 0.3s ease-in-out;
}
.sitePost__footerSocial i:hover {
  color: #ff4342;
}
.sitePost__related {
  margin-top: 40px;
}
.sitePost__related > span {
  color: #737373;
  font-size: 24px;
  text-align: center;
  display: block;
}
.sitePost__relatedContent {
  padding: 30px 30px 0;
  background-color: #e5e5e5;
  border-radius: 50px;
  margin-top: 20px;
}
.siteSubscribtion {
  background-color: #ffd427;
  height: 95px;
  padding: 28px 0;
  margin-top: 130px;
}
.siteSubscribtion a {
  border: 1px solid #aa9233;
  border-radius: 20px;
  padding: 13px 23px;
  font-size: 17px;
}
.siteSubscribtion input {
  background-color: transparent;
  font-size: 23px;
  font-weight: 300;
  padding-right: 20px;
}
.siteSubscribtion ::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}
.siteSubscribtion i {
  font-size: 120px;
  float: left;
  margin: -40px 0;
  position: relative;
}
.siteSubscribtion i:after {
  content: "";
  width: 239px;
  height: 10px;
  background-color: #dfdfdf;
  border-radius: 140px/6px;
  position: absolute;
  display: inline-block;
  bottom: -50px;
  left: 0;
  right: 0;
  margin: auto;
}
.siteComment {
  margin: 60px 0 30px 0;
}
.siteComment > ul > li > ul > li .siteComment__item {
  background-color: #f8fdee;
  margin: 0 60px 0 30px;
  padding: 30px 30px 10px 90px;
}
.siteComment > ul > li > ul > li .siteComment__item img {
  margin-left: -110px;
  float: left;
}
.siteComment > ul > li > ul > li .siteComment__item a {
  float: left;
  color: #43502a;
}
.siteComment > ul > li > ul > li .siteComment__item > span {
  float: right;
  color: #5b6644;
}
.siteComment > ul > li > ul > li .siteComment__item p {
  text-align: left;
  color: #626e4a;
}
.siteComment > ul > li > ul > li .siteComment__item .siteComment__itemReply {
  text-align: left;
}
.siteComment > ul > li > ul > li .siteComment__item .siteComment__itemReply span {
  color: #9aa387;
}
.siteComment > ul > li > ul > li .siteComment__item .siteComment__itemReply i {
  color: #9aa387;
}
.siteComment > ul > li > ul > li .siteComment__item .siteComment__itemReply i:before {
  transform: scale(-1, 1);
  display: inline-block;
}
.siteComment p {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
}
.siteComment__item {
  background-color: #fff;
  border-radius: 50px;
  padding: 30px 90px 10px 30px;
  margin: 20px 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
}
.siteComment__item img {
  margin-right: -110px;
  float: right;
}
.siteComment__item a {
  margin: 30px 0;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
}
.siteComment__item > span {
  float: left;
  margin: 35px 0 0;
}
.siteComment__itemReply {
  margin: 20px 0;
  color: #8e8c8c;
  font-size: 14px;
}
.siteComment__header {
  color: #737373;
  font-size: 24px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.siteForm {
  background-color: #fff;
  border-radius: 50px;
  padding: 30px 90px 10px 30px;
  margin: 30px 0 70px 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
}
.siteForm img {
  margin-right: -110px;
  float: right;
}
.siteForm > span {
  float: left;
  margin: 35px 0 0;
}
.siteForm_header {
  margin: 30px 0;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
}
.siteForm__reply {
  border: none;
  display: inline-block;
  background-color: #70c741;
  padding: 0 15px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 52px;
  font-family: 'irsans';
}
.siteForm__reply i {
  margin-right: 25px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.siteForm_textarea {
  background-color: #f6f6f6;
  display: inherit;
  color: #a1a1a1;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 20px;
  margin-bottom: 25px;
  font-size: 15px;
  border-radius: 20px;
  min-height: 111px;
}
@media (max-width: 767px) {
  /*     index  */
  .container {
    padding: 0 20px;
  }
  .sitePost {
    padding: 10px 0;
  }
  .siteBranding__cover {
    margin-left: 0;
    border-radius: 20px 20px 0 0;
  }
  .siteBranding__cover img {
    border-radius: 20px 20px 0 0 !important;
  }
  .siteBranding__header {
    display: inline-block;
    padding: 20px;
  }
  .siteBranding__headerTitle {
    padding: 20px 0 0;
  }
  .siteBranding__content {
    padding: 20px;
  }
  .sitePagination {
    margin: 10px;
  }
  /*     single  */
  .sitePost__cover {
    padding: 0;
  }
  .sitePost__coverImg {
    padding-left: 0px;
  }
  .sitePost__coverSocial {
    margin-bottom: 10px;
  }
  .sitePost__coverSharing__icon {
    margin: 2px 10px;
  }
  .sitePost__coverDetails {
    margin-top: 20px;
    text-align: center;
  }
  .sitePost__coverDetails li {
    display: inline-block;
    padding: 5px;
  }
  .sitePost__coverDetails img {
    display: inline-block;
    padding-left: 10px;
  }
  .sitePost__header {
    padding-top: 20px;
  }
  .sitePost__content blockquote p {
    padding: 0;
  }
  .sitePost__content blockquote:before {
    margin: 10px;
  }
  .sitePost__footerDownload > div {
    margin: 0 7px;
  }
  .sitePost__footerDownload {
    padding: 38px 10px;
    margin: 20px 0;
  }
  .sitePost__footerAuthor {
    margin: 0px;
  }
  .sitePost__footerDescription {
    margin-top: 20px;
  }
  .sitePost__footerSocial {
    text-align: center;
  }
  .sitePost__footerSocial i {
    padding: 10px;
  }
  .siteSubscribtion p:before {
    content: none;
  }
  .siteSubscribtion {
    margin-top: 30px;
    height: 160px;
  }
  .siteSubscribtion input {
    font-size: 18px;
    padding: 0;
    width: 200px;
  }
  .siteSubscribtion p {
    font-size: 60px;
    float: none;
    text-align: center;
    margin: -10px 0;
  }
  .siteSubscribtion i {
    margin: 14px;
  }
  .siteSubscribtion i:after {
    bottom: -20px;
  }
  .siteComment__item {
    padding: 20px;
  }
  .siteComment__item img {
    margin-right: -40px;
  }
  .siteComment__item a {
    margin: 30px 10px;
  }
  .siteComment > ul > li > ul > li .siteComment__item {
    margin: 0;
    padding: 20px;
  }
  .siteComment > ul > li > ul > li .siteComment__item img {
    margin-left: -40px;
  }
  .siteComment > ul > li > ul > li .siteComment__item p {
    text-align: justify;
  }
  .siteComment > ul > li > ul > li .siteComment__item a {
    float: right;
  }
  .siteComment > ul > li > ul > li .siteComment__item > span {
    float: left;
    margin: 35px 0 0 40px;
  }
  .siteForm img {
    margin-right: -40px;
  }
  .siteForm {
    padding: 30px;
  }
  .siteForm_header {
    margin: 30px 10px 0 0;
  }
  .sitePost__footerAuthor__details {
    margin: 0 auto 30px auto;
  }
  .sitePost__footerAuthor__logo {
    float: unset;
    margin: auto;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .sitePost {
    padding: 10px 0;
  }
  .sitePost__cover {
    padding: 0;
  }
  .siteBranding__cover {
    float: none;
    margin-left: 0;
  }
  .siteBranding__cover img {
    border-radius: 0;
    width: 100%;
  }
  .siteBranding__header {
    padding: 20px;
  }
  .sitePost__coverImg {
    padding-left: 0px;
  }
  .sitePost__coverDetails {
    margin-top: 20px;
    text-align: center;
  }
  .sitePost__coverDetails li {
    display: inline-block;
    padding: 10px;
  }
  .sitePost__footerAuthor__logo {
    margin: 0;
    text-align: center;
    float: unset;
  }
  .sitePost__footerAuthor__details {
    margin: 0 auto 30px auto;
  }
  .sitePost__footerDescription {
    margin-top: 20px;
  }
}
